<%- include("../partials/header")%>
<main class="px-4">
  <form action="/cohorts/<%- cohort.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH" />
    <%- include("../partials/formInput") %>
    <button type="submit" class="btn btn-outline-primary">Update</button>
  </form>
</main>
<%- include("../partials/footer")%>
