<%- include("../partials/header")%>
<main class="px-4">
  <form action="/cohorts" method="POST">
    <%- include("../partials/formInput") %>
    <div class="d-flex justify-content-end">
      <button
        type="submit"
        class="btn btn-outline-primary"
      >
        Submit
      </button>
    </div>
  </form>
</main>
<%- include("../partials/footer")%>
