<div class="form-group">
  <label for="logoUrl">Logo Url</label>
  <input
    type="url"
    name="logoUrl"
    class="form-control"
    placeholder="e.g. http://www.example.com/some.png"
    value="<%= cohort ? cohort.logoUrl: '' %> "
  />
</div>

<div class="form-group">
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    class="form-control"
    placeholder="Flying Funks"
    value="<%= cohort ? cohort.name : '' %>"
  />
</div>

<div class="form-group">
  <label for="members">Members</label>

  <textarea
    class="form-control"
    name="members"
    placeholder="Jon Snow, Danenerys, Melisandre, Arya Stark"
    rows="5"
  >
  <% if(cohort) { %>
    <%- cohort.members %>
    <% } %>   
  </textarea>
</div>
